<header>
    <ul>
        <li><a [routerLink]="['/information']" routerLinkActive="active" >Información</a></li>
        <li><a [routerLink]="['/products']" routerLinkActive="active" >Productos</a></li>
        <li *ngIf="acti"><a class="active">></a></li>
        <li *ngIf="acti"><a class="active">{{producto.name}}</a></li>
<li></li>
    </ul>
    <input [(ngModel)]="textSearch" (keyup)="getSearch()" type="text"  class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button [routerLink]="['/search']" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</header>

